<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
       default-autowire="autodetect">
  <!-- session管理器 -->
    <bean id="sessionMgr" class="com.manu.dynasty.core.dao.SessionMgr"></bean>
    
  <!-- 登录 -->
  	<bean id="loginService" class="com.manu.dynasty.login.service.LoginService"></bean>
  
  <!-- 玩家信息 -->
  	<bean id="userService" class="com.manu.dynasty.user.service.UserService"></bean>
  	<bean id="userDao" class="com.manu.dynasty.user.dao.UserDao"></bean>
  	<bean id="userAttrDao" class="com.manu.dynasty.user.dao.UserAttrDao"/>
  	<bean id="userAttrService" class="com.manu.dynasty.user.service.UserAttrService"></bean>
  	<bean id="userTechDao" class="com.manu.dynasty.user.dao.UserTechDao"></bean>
  	<bean id="accountService" class="com.manu.dynasty.account.service.AccountService"></bean>
  	<bean id="accountDao" class="com.manu.dynasty.account.dao.AccountDao"></bean>
</beans>
