<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>dynasty</display-name>
  <description>BlazeDS Application</description>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>admin.username</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>admin.password</param-name>
    <param-value>000000</param-value>
  </context-param>
  <filter>
    <filter-name>Encoding</filter-name>
    <filter-class>com.manu.dynasty.filter.AuthorityFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>controller</servlet-name>
    <servlet-class>
		     com.manu.dynasty.core.servlet.DispatcherServlet
		</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
				/WEB-INF/webControllerContext.xml
			</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>*.whtml</url-pattern>
    <url-pattern>*.jhtml</url-pattern>
    <url-pattern>*.html5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>
			com.manu.dynasty.core.servlet.InitServlet
		</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.manu.dynasty.admin.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SecurityFilter</display-name>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.manu.dynasty.filter.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.manu.dynasty.admin.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GMServlet</display-name>
    <servlet-name>GMServlet</servlet-name>
    <servlet-class>com.manu.dynasty.core.servlet.GMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GMServlet</servlet-name>
    <url-pattern>/gm</url-pattern>
  </servlet-mapping>
</web-app>