<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
       default-autowire="autodetect">
  <!-- 好友相关系统 -->
	<bean id="friendDao" class="com.manu.dynasty.friend.dao.FriendDao" />
	<bean id="friendService" class="com.manu.dynasty.friend.service.FriendService" />
	<bean id="friendController" class="com.manu.dynasty.friend.action.FriendController" />
</beans>
